<h1>GroupsIndex</h1>

{{#each group in model}}
  <h3>{{group.name}}
    <span class="text-muted"><small><em>by</em> {{group.founder.name}}</small></span>
  </h3>

  <h5>This group has {{membersCount}} active members</h5>

{{/each}}

{{outlet}}
