<h1>Groups</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Founder</th>
    <th>Members</th>
  </tr>
  {{#each group in model}}
  <tr>
      <td>{{#link-to 'groups.show' group.id}}{{group.name}}{{/link-to}}</td>
      <td>{{#link-to 'users.show' group.founder.id}}
        <span class="glyphicon glyphicon-user"></span> {{group.founder.name}}
        {{/link-to}}</td>
      <td>{{group.memberCount}}</td>
  </tr>
  {{/each}}
</table>

{{outlet}}
