<h1>GroupsIndex</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Founder</th>
    <th>Members</th>
  </tr>
  {{#each group in model}}
  <tr>
      <td>{{group.name}}</td>
      <td>{{group.founder.name}}</td>
      <td>{{membersCount}}</td>
  </tr>
  {{/each}}
</table>

{{outlet}}
