<br>

<button type="button" class="btn btn-lg btn-primary" data-toggle="dropdown">
  <span class="glyphicon glyphicon-user"></span> Users
</button>

<button type="button" class="btn btn-lg btn-primary" data-toggle="dropdown">
  <span class="glyphicon glyphicon-comment"></span> Groups
</button>

<hr>

{{outlet}}
